<div class="panel panel-warning">
  <div class="panel-body">
    <h1>Shipping and Billing!</h1>
    <%= link_to "Go back to cart", cart_index_path %>

    <% if @order.errors.any? %>
      <ul class="errors">
        <% @order.errors.each do |column, message| %>
          <li>
            <strong><%= column.capitalize %></strong> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= render partial: "form", locals: {zone: @order} %>
  </div>
</div>
