<h1>Fullfillment Order</h1>

<table>

<%= @user.total_revenue %>


button = that changes completion_status == complete
an :method :update
route patch orders/

if order_item.shipping
  completion_status = "complete"
