html {
  /* because bootstrap apparently messes with this */
  font-size: 16px;
}


body {
  background-image: asset-url('honeycomb-bg.jpg');
}

ul {
  list-style-type: none;
}

h1.main-title {
  font-size: 6rem;
  font-family: 'Sacramento', cursive;
}

.topnav a {
  font-size: 2.5rem;
  font-family: 'Sacramento', cursive;
  margin: 2rem;
}

.fancylink {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
}

.container ul {
  display: inline;
}

.thumbnail li {
  text-align: center;
  display: block;
}

.caption a {
  font-size: 1.5rem;
}

.caption a:hover {
  color: yellow;
}

.price {
  display: block;
  font-size: 1.25rem;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
}

a.merchantname {
  font-size: 1rem;
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
