<h1>Beeyonce</h1>

<p><%= link_to "New Product", new_product_path(vendor_id: @vendor.id) %></p>

<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to product.name, product_path(product.id) %>
  </li>
  <% end %>
</ul>